/* App.css */

/* app container Style */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* "Randomize" button Style */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* move count Style */
.move-count {
  font-size: 4vw; /* Adjust font size relative to viewport width */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the text color */
  margin-bottom: 20px; /* Add some spacing below the move count */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

/*  victory message Style */
.victory-message {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Adjust the text color */
  margin-top: 20px; /* Add spacing from the puzzle */
}