/* App.css */

/* app container Style */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 4vw;
}

/* "Randomize" button Style */
button {
  font-size: 2vw; /* Adjust font size relative to viewport width */
  font-weight: bold; /* Make the text bold */
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* move count Style */
.move-count {
  font-size: 4vw; /* Adjust font size relative to viewport width */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the text color */
  margin-bottom: 20px; /* Add some spacing below the move count */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

/*  victory message Style */
.victory-message {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Adjust the text color */
  margin-top: 20px; /* Add spacing from the puzzle */
}


.upload-button:hover {
  background-color: #e7e7e7;
  border-radius: 0px 15px 15px 0px;
}

/* Timer style */
.timer {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 1s; /* Add a color transition effect */
}

/* Custom timer colors */
.green-timer {
  color: darkgreen; /* Dark green color for 0-2 minutes */
  transition: color 60s; /* Add the same transition effect */
}

.yellow-timer {
  color: darkgoldenrod; /* Dark yellow color for 2-5 minutes */
  transition: color 60s; /* Add the same transition effect */
}

.red-timer {
  color: darkred; /* Dark red color for 5-10 minutes */
  transition: color 60s; /* Add the same transition effect */
}