/* Puzzle.css */

/* Style the puzzle container */
.puzzle {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the piece width */
    grid-gap: 1px; /* Adjust the gap between pieces */
    margin: 0 auto;
    width: min-content; /* Adjust the width to fit the content (puzzle pieces) */
    background-color: white;
    padding: .5vw;
    border-radius: .5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style individual puzzle pieces */
  .piece {
    width: 30vw; /* Set a fixed width using vw units */
    height: 30vw; /* Set a fixed height using vw units */
    background-size: 333% 333%; /* Set a fixed background size to cover the piece */
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .piece:hover {
    transform: scale(1.05);
  }

  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .puzzle {
      grid-template-columns: repeat(3, 1fr); 
    }

    /* Adjust piece size for smaller screens */
    .piece {
      width: 15vw;
      height: 15vw;
    }
  }