/* Puzzle.css */

/* Style the puzzle container */
.puzzle {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the piece width */
    grid-gap: 3px; /* Adjust the gap between pieces */
    margin: 0 auto;
    width: min-content; /* Adjust the width to fit the content (puzzle pieces) */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style individual puzzle pieces */
  .piece {
    width: min-content; /* Adjust the width to fit the content (puzzle pieces) */
    height: min-content; /* Adjust the piece height */
    background-size: 600px 600px; /* Match the total puzzle size */
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid #ddd;
  }
  
  .piece:hover {
    transform: scale(1.05);
  }

  /* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .puzzle {
    grid-template-columns: repeat(3, 1fr); /* Change to a 2x2 grid for smaller screens */
    grid-gap: 5px;
    padding: 10px;
  }

  /* Adjust piece size for smaller screens */
  .piece {
    width: 150px;
    height: 150px;
  }
}